NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost

DATABASE_URL="postgresql://henshi:henshi@localhost:5432/auth?schema=public"
REDIS_URL="redis://default:henshi@localhost:6379/0"

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=email@mail.com
MAIL_PASSWORD=123